.card-register-size{
    width: 100% !important;
    height: 100% !important;
    max-width: 36rem !important;
    min-width: 20rem !important;
    max-height: 40rem !important;
    min-height: 30rem !important;
}